@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
} /* NAV BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-button-container {
  list-style: none;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title {
  color: #e74c3c;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 32px;
}
.navbar-button {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
} /* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  padding-bottom: 10px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #3498db;
  cursor: default;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  padding: 5px 0;
  margin-bottom: 50px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  background: #3498db;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #ee4608;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
  border: #ee4608 solid 2px transparent;
  border-radius: 15px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 20px 8px 0;
  border-color: transparent #ee4608 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
  border: #ee4608 solid 2px transparent;
  border-radius: 15px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 20px;
  border-color: transparent transparent transparent #ee4608;
}

time {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: white;
  text-transform: capitalize;
}

.text {
  color: white;
  height: auto;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #ee4608;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
  height: auto;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ee4608 transparent transparent;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
}
.hidden{
  font-size: 1px;
  color: #ee4608;
  cursor: default;
}

.sublogo{
  color: rgb(55, 53, 53);
  cursor: default;
}

.container-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infobox{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 400px;
    width: 900px;
    margin: 45px;
    background-color: #3498db;
    border: black solid 1px transparent;
    border-radius: 20px;
}

.dataimg{
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 10px;
    height: 360px;
}

.container-info-text{
    display: flex;
    align-items: right;
    flex-direction: row;
    width: auto;
    color: white;
    font-size: 15px;
    text-align: left;
    cursor: default;
}

.info-text{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 500px;
    height: 380px;
}