@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}
/* =========== General Styling ================ */
h3{
  font-size: 18px;
  font-weight: 400px;
}
p{
  font-size: 14px;
}

/* =========== Home Section ================ */
.navbar {
  border-bottom:rgb(24, 199, 170)  5px solid ;
}

/* .navbar-brand {
  color: #1886C7 !important;
  font-size: 24px;
} */

 /* OR */

.navbar .navbar-brand{
  /* color: #1886C7; */
  color: rgb(24, 199, 170);
  font-size: 24px;
}
.navbar .navbar-brand:hover{
  background-color: rgba(0, 0, 0, 0.5) !important;
  color:  rgb(24, 199, 170)!important;
}

.bg-dark {
  background-color: rgb(250, 244, 244) !important;
  
}
.nav-link {
  /* color: white !important; */
  color: rgb(24, 199, 170)!important;
  text-transform: uppercase;
  transition: color 1s ease;
}
.nav-link:hover {
  /* color: white !important; */
  background-color: rgba(0, 0, 0, 0.5) !important;
  /* color: #1886C7 !important; */
  /* color: rgb(24, 199, 170) !important; */
}
#headerSection{
  background: url("../images/bg.jpg") no-repeat center center  fixed;
  background-size: cover;
  height: 100vh;
}
#headerSection .overlay{
  background-color: rgba(0, 0, 0, 0.5);

}
#headerSection .row {
  height: 100vh;
}

#headerSection .btn{
  color: rgb(24, 199, 170) !important;
}
#headerSection span{
  color: rgb(24, 199, 170) !important; 
}

.btn-outline-light{
  border-radius: 0;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-outline-secondary{
  border-color: rgb(24, 199, 170) !important;
}
.form-control{
  border-color: rgb(24, 199, 170) !important;
}



/* <--------------POPULAR SECTION ---------------> */

.popularTop{
  text-align: center;
}
.sectionHeader{
  background: rgb(24, 199, 170);
  border-bottom: 6px solid rgb(24, 199, 170);
  height: 60px;
  color: white;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  padding: 5px 40px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#popular .col-md-3{
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
#popular h4{
  font-size: 16px;
  font-size: 300;
}
#popular fa{
  font-size: 100px;
  margin-bottom: 50px;
  /* font-size: 24px;
  margin-bottom: 20px; */
}
#popular .fa-search-plus{
  font-size: 90px;
  margin-bottom: 50px;
}
.imageContainer{
  position: relative;
  cursor: pointer;
}
.imageOverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:rgb(24, 199, 170) ;
  opacity: 0;
  transition: 1s ease;
}
.imageContainer:hover .imageOverlay{
  opacity: .7;
}
.ImageText{
  position: absolute;
  color:rgb(0, 0, 0) ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
